In [13]:
## Scenario 1 : Eligibity to Vote

def vote():
    age=int(input("Enter the age:"))
    if (age==18 or age>18):
        print("Congratulations!!! You are eligible to vote")
    else:
        print("Sorry,You are not eligible to vote yet")

In [14]:
vote()

Enter the age: 18

Congratulations!!! You are eligible to vote

In [17]:
## Scenario 2: Return Largest number from the list
## max() ;returns the max of the defined variable

def large_number():
    list=[2,10,0,25,49,32,178,19,58,40,382,17]
    largenumber=max(list)
    print(largenumber)
    return largenumber

In [18]:
largenumber=large_number()

382

In [11]:
## Scenario 3:  Check bonus based on salary

def bonus():
    salary=float(input("Enter your salary:"))
    limit=int(50000)
    if (salary==limit or salary>limit):
        bonus=float(salary*10/100)
        print(bonus)
        return bonus
    else:
        print("Sorry,Not eligible for bonus")

In [12]:
bonus=bonus()

Enter your salary: 75480.65

7548.065

In [13]:
## Scenario 4 : Evaluate Odd or Even number

def oddeven():
    num=int(input("Enter the number:"))
    if ((num%2==0)):
        print("Even number")
        message="Even number"
    else:
        print("Odd number")
        message="Odd number"
    return message

In [15]:
message=oddeven()

Enter the number: 48

Even number

In [20]:
## Scenario 5: Text processing tool ; Reverse the given word or sentence
## using Slicing function to reverse the given string 

def reverse_text():
    text=str("gnimmargorp nohtyp")
    rev=text[::-1]
    print(rev)
    return rev

In [21]:
rev=reverse_text()

python programming

In [27]:
## Scenario 6: Student grading system ; pass >40 else fail

def student_grade():
    mark=int(input("Enter the mark :"))
    if (mark>40):
        print("Pass")
        result="Pass"
        return result
    else:
        print("Fail")
        result="Fail"
        return result

In [29]:
result=student_grade()

Enter the mark : 55

Pass

In [31]:
## Scenario 7 : Retail store discount calculation

def retail_store():
    purchase=float(input("Enter the purchase amount:"))
    if (purchase>100):
        discount=(purchase*20/100)
        Amount=purchase-discount
        print(Amount)
        finalprice=Amount
        return finalprice
    else:
        print("No discount")
        finalprice=purchase
        return purchase

In [34]:
purchase=retail_store()

Enter the purchase amount: 200

160.0

In [12]:
## Scenario 8: Banking system ;withdrawal requests check balance and allow accordingly , update balance

def My_bankaccount():
    w=float(input("Enter the Withdrawal amount:"))  ##Withdrawal amount
    I = float(100000)                           ##Inital Account balance
    if (w<I):
        Final_balance=I-w
        print(Final_balance)
        return Final_balance
    else:
        print("Low balance, Transaction Failed")

In [13]:
Final_balance=My_bankaccount()

Enter the Withdrawal amount: 100500

Low balance, Transaction Failed

In [16]:
##Scenario 9: Find whether given year is a Leap year ## year/4=0 Leap year

def year():
    y=int(input("Enter the year:"))
    if (y%4==0):
        print("The given year is a leap year")
        output="leap year"
        return output
    else:
        print("The given year is not a leap year")
        output="Not a leap year"
        return output

In [19]:
output=year()

Enter the year: 2025

The given year is not a leap year

In [38]:
## Scenario 10 :Extract even numbers from the list

def even_no():
    list=[0,3,6,11,24,19,28,84,67,99,248,77]
    for temp in list:
        if(temp%2==0):
            print(temp)

In [39]:
even_no()

0
6
24
28
84
248